﻿@model Movie
@{
    ViewBag.Title = "Фильмы";
}
<script>
    function save() { // Сохранение данных

        $("#saveForm").submit();
    }
</script>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/logo.png" alt="logo"></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <div class="page-header">
        @if (Model != null)
        {
            <h1>@Model.Name</h1>
        }
        else
        {
            <h1>Новый фильм</h1>
        }

    </div>

    <a class="btn btn-info" style="cursor: pointer" href="@Url.Action("Movie", "Home",  new { id = @Model.Id })"><i class="glyphicon glyphicon-pencil"></i> Отмена</a>

    <br>
    <br>

    <form id="saveForm" method="post" action="~/Home/SaveData" enctype="multipart/form-data">

        @Html.ValidationSummary(true)
        @Html.Hidden("Id", @Model.Id)
        @Html.Hidden("UserId", @Model.UserId)

        @if (@Model != null)
        {


            @Html.Hidden("Poster", @Model.Poster)

            <div class="row">
                <label for="Name" class="col-sm-2 cent">Название фильма</label>
                <div class="col-sm-10">
                    @Html.TextBox("Name", @Model.Name, new { @class = "form-control", id = "Name", placeholder = "Введите название фильма" })
                    @Html.ValidationMessage("Name", new { style = "color:red" })
                </div>
            </div>

            <br>

            <div class="row">
                <label for="Year" class="col-sm-2 cent">Год выпуска</label>
                <div class="col-sm-10">
                    @Html.TextBox("Year", @Model.Year, new { @class = "form-control", id = "Year", placeholder = "Введите год выпуска" })
                </div>
            </div>


            <br>


            <div class="row">
                <label for="Director" class="col-sm-2 cent">Режиссер</label>
                <div class="col-sm-10">
                    @Html.TextBox("Director", @Model.Director, new { @class = "form-control", id = "Director", placeholder = "Введите режиссера" })
                </div>
            </div>


            <br>


            <div class="row">
                <label for="Description" class="col-sm-2 cent">Описание</label>
                <div class="col-sm-10">
                    @Html.TextArea("Description", @Model.Description, new { @class = "form-control", id = "Description", placeholder = "Введите описание" })
                </div>
            </div>

        }
        else
        {
            <div class="row">
                <label for="Name" class="col-sm-2 cent">Название фильма</label>
                <div class="col-sm-10">
                    @Html.TextBox("Name", String.Empty, new { @class = "form-control", id = "Name", placeholder = "Введите название фильма" })
                    @Html.ValidationMessage("Name", new { style = "color:red" })
                </div>
            </div>

            <br>

            <div class="row">
                <label for="Year" class="col-sm-2 cent">Год выпуска</label>
                <div class="col-sm-10">
                    @Html.TextBox("Year", String.Empty, new { @class = "form-control", id = "Year", placeholder = "Введите год выпуска" })
                </div>
            </div>


            <br>


            <div class="row">
                <label for="Director" class="col-sm-2 cent">Режиссер</label>
                <div class="col-sm-10">
                    @Html.TextBox("Director", String.Empty, new { @class = "form-control", id = "Director", placeholder = "Введите режиссера" })
                </div>
            </div>


            <br>


            <div class="row">
                <label for="Description" class="col-sm-2 cent">Описание</label>
                <div class="col-sm-10">
                    @Html.TextArea("Description", String.Empty, new { @class = "form-control", id = "Description", placeholder = "Введите описание" })
                </div>
            </div>

        }

        <br>
        <div class="putfile">

            <input style="cursor: pointer;" type="file" name="uploadedFile" id="uploadedFile" hidden />
            <label style="cursor: pointer; color:white" for="uploadedFile" class="btn btn-dark">
                <i class="fa fa-upload"></i> Загрузить файл
            </label>
        </div>

        <a style="cursor: pointer; color:white" id="but" class="btn btn-success" onclick="save()"><i class="fa fa-floppy"></i> Сохранить</a>

    </form>
</div>