﻿@model ReflectionIT.Mvc.Paging.PagingList<FilmsCatalog.Models.Movie>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging


@{ ViewData["Title"] = "Home Page"; }


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/logo.png" alt="logo"></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <div class="text-center">
        <h3>Добро пожаловать на портал MCatalog</h3>
    </div>


    <a class="btn btn-primary" href="@Url.Action("EditData", "Home", new { id = "" })"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>

    <br />
    <br />


    <nav hidden>
        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
    </nav>


    <table class="table">
        <tr>
            <td>Название</td>
            <td>Год выпуска</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Name</td>
    <td>@item.Year</td>
    <td><a href="@Url.Action("Movie", "Home", new { id = item.Id })"> <i class="fa fa-id-card"></i> </a> </td>
</tr>
}

    </table>

    <nav>
        <vc:pager paging-list="@Model" />
    </nav>
</div>