﻿@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@model Movie
@{
    ViewBag.Title = "Фильм";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/logo.png" alt="logo"></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="container">
        <div class="page-header">
            <h1>@Model.Name</h1>
        </div>


    <div style="display: flex; justify-content: left;">

        <a class="btn btn-info" style="cursor: pointer; margin-right: 10px" href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-pencil"></i> Назад</a>


        @if (@Model.UserId == this.User.FindFirst(ClaimTypes.NameIdentifier).Value)
        {

            <a class="btn btn-warning" style="cursor: pointer; margin-right: 10px" href="@Url.Action("EditData", "Home", new { id = @Model.Id })"><i class="glyphicon glyphicon-pencil"></i> Редактировать</a>

            <form asp-controller="Home" asp-action="DeleteData" method="post">
             @Html.Hidden("Id", @Model.Id)

            <input class="btn btn-danger" type="submit" value="Удалить" />

            </form>

        }

    </div>
     
    </div>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="poster" src="@Model.Poster" />
            </div>
            <div class="col-sm-8">
                <div class="container">
                    <div class="row">
                        <label for="Year" class="col-sm-2 cent">Год выпуска</label>
                        <div class="col-sm-10">
                            @Model.Year
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <label for="Director" class="col-sm-2 cent">Режиссер</label>
                        <div class="col-sm-10">
                            @Model.Director
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <label for="Description" class="col-sm-2 cent">Описание</label>
                    </div>
                        <div class="row col-sm-2 cent">
                            @Model.Description
                        </div>
        
                </div>
            </div>
        </div>
    </div>
</div>
