﻿@model SignUpViewModel
@{
    ViewData["Title"] = "Регистрация";
}


<div class="main_div">
    <div class="middle">

        <div class="middle_content">
            <div class="content_block">
                <div class="row content_block_row justify-content-center">
                    <div class="col-12 col-lg-7 col1 mb-3 py-3 px-3 px-sm-4 px-md-5">
                        <div class="top_logo">
                            <img src="~/Images/logo.png" alt="logo">
                        </div>
                        <div class="header_text">
                            <div class="bold">Добро пожаловать в личный кабинет поратала MCatalog.</div>
                            <div class="p-t p-b">
                                Портал MCatalog - это огромный мир замечательного искусства Кино! Здесь Вы сможете найти, то, чего Вам не хватало в последние время - хорошее настроение.
                                Для Вас представлен широкий выбор различных фильмов разных жанров и годов выпуска. Достаточно просто авторизироваться на портале или пройти процедуру регистрации.
                            </div>
                            <div class="bold">
                                Если Вы не зарегистрированы в личном кабинете, но у Вас есть желание стать одним из участников нашего портала, то
                                заполните, пожалуйста, <a href="@Url.Action("SignUp", "Account")" rel="nofollow">регистрационную форму</a>.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-11 col-md-9 col-lg-5 pl-lg-0 pr-lg-4 pb-sm-3 pt-lg-4">
                        <div class="col2 mainpage_login_form_block mb-3 py-3 px-4 mt-2">
                            <h1 class="p-b content_title" style="text-align:center">Регистрация</h1>

                            <div class="content_data_form">
                                <div class="row">
                                    <div class="col-12">
                                        <form asp-controller="Account" asp-action="SignUp" method="post" style="margin-top: 2em;">
                                            <input type="hidden" name="AUTH_FORM" value="Y" />
                                            <input type="hidden" name="TYPE" value="AUTH" />

                                            <div class="form-group">

                                                <div class="input_wrapper">
                                                    <label asp-for="Email"></label>
                                                    <input asp-for="Email" class="form-control">
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <div class="input_wrapper">
                                                    <label asp-for="FirstName"></label>
                                                    <input asp-for="FirstName" class="form-control">
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <div class="input_wrapper">
                                                    <label asp-for="LastName"></label>
                                                    <input asp-for="LastName" class="form-control">
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <div class="input_wrapper">
                                                    <label asp-for="Password"></label>
                                                    <input asp-for="Password" class="form-control">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <div class="input_wrapper">
                                                    <label asp-for="PasswordConfirm"></label>
                                                    <input asp-for="PasswordConfirm" class="form-control">
                                                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                            <div class="form-group"> <button type="submit" class="btn btn-outline-primary all_width">Зарегистрироваться</button></div>


                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="middle_content_functions">
            <div class="content_block ">


                <div class="block_functions">
                    <div class="content_block">

                        <h2 class="col-auto functions_title">Функциональные возможности</h2>

                        <div class="row content_block_row" style="text-align:center; justify-content: center ">
                            <div class="col-auto functions_item_col">
                                <div class="functions_icon"><i class="fa fa-film fa-4x"></i></div>
                                <div class="functions_descript">Поиск и просмотр информации по фильму</div>
                            </div>
                            <div class="col-auto   functions_item_col">
                                <div class="functions_icon"><i class="fa fa-plus-square fa-4x"></i></div>
                                <div class="functions_descript">Добавление новых фильмоы</div>
                            </div>
                            <div class="col-auto  functions_item_col">
                                <div class="functions_icon"><i class="fa fa-download fa-4x"></i></div>
                                <div class="functions_descript">Скачивание фильмов</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
