﻿@model SignInViewModel
@{ ViewData["Title"] = "Авторизация"; }



<div class="main_div">
    <div class="middle">

        <div class="middle_content">
            <div class="content_block">
                <div class="row content_block_row justify-content-center">
                    <div class="col-12 col-lg-7 col1 mb-3 py-3 px-3 px-sm-4 px-md-5">
                        <div class="top_logo">
                            <img src="~/Images/logo.png" alt="logo">
                        </div>
                        <div class="header_text">
                            <div class="bold">Добро пожаловать в личный кабинет поратала MCatalog.</div>
                            <div class="p-t p-b">
                                Портал MCatalog - это огромный мир замечательного искусства Кино! Здесь Вы сможете найти, то, чего Вам не хватало в последние время - хорошее настроение.
                                Для Вас представлен широкий выбор различных фильмов разных жанров и годов выпуска. Достаточно просто авторизироваться на портале или пройти процедуру регистрации.
                            </div>
                            <div class="bold">
                                Если Вы не зарегистрированы в личном кабинете, но у Вас есть желание стать одним из участников нашего портала, то
                                заполните, пожалуйста, <a href="@Url.Action("SignUp", "Account")" rel="nofollow">регистрационную форму</a>.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-11 col-md-9 col-lg-5 pl-lg-0 pr-lg-4 pb-sm-3 pt-lg-4">
                        <div class="col2 mainpage_login_form_block mb-3 py-3 px-4 mt-2">
                            <h1 class="p-b content_title" style="text-align:center">Личный кабинет</h1>

                            <div class="content_data_form">
                                <div class="row">
                                    <div class="col-12">
                                        <form asp-controller="Account" asp-action="SignIn" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="margin-top: 2em;">
                                            <input type="hidden" name="AUTH_FORM" value="Y" />
                                            <input type="hidden" name="TYPE" value="AUTH" />

                                            <div class="form-group">
                                                <label class="col-form-label">E-mail / Логин</label>
                                                <div class="input_wrapper">
                                                    <input asp-for="Email" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label">Пароль</label>
                                                <div class="input_wrapper">
                                                    <input asp-for="Password" class="form-control">
                                                </div>
                                            </div>


                                            <div class="form-group">

                                                <div class="input_wrapper">
                                                    <input asp-for="RememberMe" class="form-check-input" style=" margin-left: 0px;">
                                                    <label asp-for="RememberMe" class="form-check-label" style=" margin-left: 20px;"></label>
                                                </div>
                                            </div>


                                            <div class="form-group grayscale">
                                                <!--<div class="fancy">
                                                    <label for="USER_REMEMBER"><input type="checkbox" id="USER_REMEMBER" name="USER_REMEMBER" value="Y" />
                                                    <span>&nbsp;Запомнить меня на этом компьютере</span></label>
                                                </div>-->
                                            </div>

                                            <div class="form-group"> <button type="submit" class="btn btn-outline-primary all_width">Войти</button></div>

                                            <div class="row">

                                                <div class="col-auto grayscale forgot_password_url m-b">
                                                    <a href="#" rel="nofollow"><i class="fa fa-key"></i> Забыли свой пароль?</a>
                                                </div>
                                                <div class="col-auto register_url">
                                                    <a <a href="@Url.Action("SignUp", "Account")" rel="nofollow"><i class="fa fa-user-plus"></i> Зарегистрироваться</a>
                                                </div>

                                            </div>


                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="middle_content_functions">
            <div class="content_block ">


                <div class="block_functions">
                    <div class="content_block">

                        <h2 class="col-auto functions_title">Функциональные возможности</h2>

                        <div class="row content_block_row" style="text-align:center; justify-content: center ">
                            <div class="col-auto functions_item_col">
                                <div class="functions_icon"><i class="fa fa-film fa-4x"></i></div>
                                <div class="functions_descript">Поиск и просмотр информации по фильму</div>
                            </div>
                            <div class="col-auto   functions_item_col">
                                <div class="functions_icon"><i class="fa fa-plus-square fa-4x"></i></div>
                                <div class="functions_descript">Добавление новых фильмоы</div>
                            </div>
                            <div class="col-auto  functions_item_col">
                                <div class="functions_icon"><i class="fa fa-download fa-4x"></i></div>
                                <div class="functions_descript">Скачивание фильмов</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>