﻿.poster {
    width: 250px;
    height: 300px;
}

.footer {
    background-image: url(../Images/bgRomb.jpg);
    padding: 50px;
}

.main_div {
    min-width: 320px;
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: table;
}

.middle {
    height: 100%;
}

.middle_content .content_block {
    background: rgba(255,255,255,0.7);
    box-shadow: 0px -2px 24px white;
    padding: 0;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.middle_content .col2 {
    background-color: white;
    box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.07);
}

.middle_content {
    padding: 20px 5px 0;
}

.row.content_block_row {
    margin-right: 0px;
    margin-left: 0px;

}

.muc-func .row .func {
    padding-top: 10px;
    padding-left: 25px;
}

.header_text {
    padding: 20px 20px 0 0;
    font-size: 14px;
    text-align: justify;
    /*background: rgba(255,255,255,0.5);
    box-shadow: 0px -2px 70px white;*/
}

.content_data_form {
    max-width: 400px;
    margin: 20px 10px;
}

.captcha-col img {
    width: 100%;
}

.middle {
    background: url(../Images/background.jpg) center top / cover no-repeat;
    background-size: cover;
    height: 100%;
}

.content_data {
    margin: 10px 10px;
}

.block_functions .content_block {
    padding: 40px 0;
}

.middle_content .content_block {
    background: rgba(255,255,255,0.7);
    box-shadow: 0px -2px 24px white;
    padding: 0;
    margin-top: 20px;
}

.all_width {
    width: 100%;
}

.middle_content_functions {
    background: rgba(255,255,255,0.7);
    margin-top: 130px;
}

.functions_title, .contract_title {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 39px;
}


.example-2 .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555
}

    .putfile .btn-tertiary:hover, .example-2 .btn-tertiary:focus {
        color: #888;
        border-color: #888
    }

.putfile .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

    .putfile .input-file + .js-labelFile {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
        cursor: pointer
    }

        .putfile .input-file + .js-labelFile .icon:before {
            content: "\f093"
        }

        .putfile .input-file + .js-labelFile.has-file .icon:before {
            content: "\f00c";
            color: #5AAC7B
        }